@model Sk8er_Webshop.Models.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="container">

    <div class="row">
        <div class="col-lg-7">
            <img class="img-fluid" src="@Model.ImgURL" alt="Photo Product"/>
        </div>

        <div class="col">
            <br/>
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>

            <form>
                <div class="form-group">
                    <label for="selectSize">Selecteer een maat:</label>
                    <select class="form-control" id="selectSize">
                        @foreach (var size in Model.Stock.Sizes)
                        {
                            <option value="@size.SizeType">@size.SizeType</option>
                        }
                    </select>
                    <br/>
                    <h3>€@Model.Price</h3>
                    <br/>
                    <button type="button" onclick="AddItemToBasket(@Model.Id, 1)" class="btn btn-default">Toevoegen aan winkelmand</button>

                </div>
            </form>
        </div>
    </div>
</div>
<br/>